/*******************************/
/***    MODIFYING CLASSES    ***/
/*******************************/

.hide
  opacity: 0
  transition: opacity 1s

.hide-fast
  opacity: 0
  transition: opacity 0.3s

.bring-to-front
  z-index: 1

.menu
  .img-extend
    width: 100%
    left: 0