
/***    LAYOUT    ***/

.page-container
  background-color: pink
  margin: 0 auto
  width: calc(100vh / 3 * 4)
  height: 100vh

.content
  background-color: teal
  width: 100%
  height: 68%

a:link, a:visited
  color: $primary-color
  text-decoration: none