
/***    EXTERNAL FONTS    ***/

@font-face
  font-family: 'Futura New'
  src: url('../fonts/FTN45.otf')
  //TODO

@font-face
  font-family: 'Futura New'
  src: url('../fonts/FTN65.otf')
  font-weight: bold


/***    TYPOGRAPHY    ***/

body
  font-family: "Futura New", sans-serif

.text-strong
  text-transform: uppercase
  font-weight: bold