
/***    EXTERNAL FONTS    ***/

@font-face
  font-family: 'Futura New'
  src: url('../fonts/FTN45.otf')

@font-face
  font-family: 'Futura New'
  src: url('../fonts/FTN65.otf')
  font-weight: bold


/***    TYPOGRAPHY    ***/

body
  font-family: "Futura New", sans-serif


a:link, a:visited
  color: $primary-color
  text-decoration: none

h1
  font-size: 3rem
  font-weight: lighter

h2
  text-transform: uppercase
  font-size: 1.25rem
  margin-bottom: 1.6rem
  color: $text-color-dark

p
  color: $text-color-normal
  margin-bottom: 1.6rem

.text-strong
  text-transform: uppercase
  font-weight: bold