/*******************************/
/***          LOGO           ***/
/*******************************/

.logo
  height: 5rem
  display: block
  margin: 0 auto
  margin-bottom: 2.4rem
  @media screen and (max-height: $bp-font-min)
    width: 10rem
    margin-bottom: 0
  @media only screen and (max-width: $bp-sm)
    display: none

.logo-mobile
  display: none
  height: 100vh
  @media only screen and (max-width: $bp-sm)
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 1rem
    .logo-mobile-img
      width: 100%