.menu-item
  display: flex
  flex-direction: row
  justify-content: space-between
  font-size: 1rem

.menu-dish-name, .menu-price
  text-transform: uppercase
  color: $text-color-normal

.menu-dish-desc
  color: $text-color-light