/*******************************/
/***         FOOTER         ***/
/*******************************/

.page-footer
  height: 10%
  display: flex
  flex-direction: row
  align-items: center
  padding: 0 8.125rem

  .address
    padding-right: 4.7rem

  .address, .phone
    font-size: 1.12rem
    @media screen and (max-height: $bp-font-min)
      font-size: 12px

  .social-media
    flex-grow: 2
    text-align: right
    & span
      margin-left: 3rem

  @media only screen and (max-width: $bp-sm)
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    padding: 0

    .address
      padding: 0

    .social-media
      flex-grow: 0
      span:first-child
        margin: 0

    .address, .phone, .social-media
      margin: 2rem 0
      text-align: center

