/*******************************/
/***          HEADER        ***/
/*******************************/

.page-header
  max-height: 22%
  padding-top: 3.6rem
  @media only screen and (max-width: $bp-sm)
    padding: 0 1rem
    position: relative
    height: auto
    display: flex


  & .btn
    position: absolute
    right: 2.5rem
    top: calc(50% - (2rem))  //  1 rem divided by 2

    @media only screen and (max-width: $bp-sm)
      position: static