.about
  background:
    color: black
    image: url("../img/photos/history-photo.jpg")
    size: cover

  h3:not(:first-of-type)
    margin-top: 1.25rem

  .michlen-stars
    flex-direction: row

    object
      width: 2rem
      margin-right: 1.8rem

  .reviews
    .forbes-logo, .mg-logo, .lxry-logo
      opacity: 0.8
      filter: grayscale(1)
      margin-right: 1.8rem

    .forbes-logo, .lxry-logo
      max-width: 100px
      width: 6.25rem

    .mg-logo
      max-width: 60px
      width: 3.75rem
