/*******************************/
/***       PAGE: ABOUT       ***/
/*******************************/
.about
  background:
    color: $accent-color
    image: url("/img/photos/history-photo.jpg")
    size: cover
  @media only screen and (max-width: $bp-sm)
    background-color: $accent-color
    background-size: auto 100vh
    background-repeat: no-repeat
    background-attachment: fixed

    .block:first-of-type
      margin-top: 100vh

  h3:not(:first-of-type)
    margin-top: 2rem

  .michlen-stars
    flex-direction: row
    margin-bottom: 1.6rem

    object
      width: 2rem
      margin-right: 1.8rem

  .reviews
    display: flex
    flex-width: nowrap
    align-items: center
    .forbes-logo, .mg-logo, .lxry-logo
      opacity: 0.8
      filter: grayscale(1)
      margin-right: 1.8rem
      margin-bottom: 1.8rem
      @media only screen and (max-width: $bp-sm)
        margin-right: 1.3rem


    .lxry-logo
      margin-right: 0

    .forbes-logo, .lxry-logo
      max-width: 100px
      width: 6.25rem

    .mg-logo
      max-width: 60px
      width: 3.75rem

