/*******************************/
/***       PAGE: HOME       ***/
/*******************************/

.home
  .col-1:hover .home-article-details
    height: 100%

  h1
    background-color: $bg-shade
    text-align: center

  .home-article-details
    background-color: $bg-shade
    overflow: hidden
    height: 0
    text-align: center
    transition: all 1s ease-in-out

    @media only screen and (max-width: $bp-sm)
      height: auto
      min-height: 85vh

    h3, p
      text-align: left

    p:last-of-type
      margin-bottom: 3.125rem

  .chef
    background: black url("/img/photos/chef.jpg")

  .sign-dish
    background: black url("/img/photos/sign-dish.jpg")

  .dining
    background: black url("/img/photos/priv-dining.jpg")

  .chef, .sign-dish, .dining
    background-size: cover
