.menu

  & *
    transition: opacity 1s, width 1s, left 1s

  //styles for images

  .salads--img
    background:
      color: black
      image: url("../img/photos/salads.jpg")
      size: cover
    left: 0

  .main-courses--img
    background:
      color: black
      image: url("../img/photos/main-courses.jpg")
      size: cover
      position: center
    left: calc(100% / 3)

  .desserts--img
    background:
      color: black
      image: url("../img/photos/desserts.jpg")
      size: cover
      position: right -1px top
    left: calc(100% / 3 * 2)


  //styles for text containers

  #salads-copy, #main-courses-copy, #desserts-copy, #salads-img, #main-courses-img, #desserts-img
    position: absolute
    height: 100%
    top: 0

  #salads-copy
    left: calc(100% / 3 * 2)

  #main-courses-copy
    left: calc(100% / 3)
    width: 100%
    display: flex
    flex-direction: row

    & .col-1:last-child
      & .menu-item:first-child
        margin-top: 9.1rem

  #desserts-copy
    left: 0


  //styles for heading

  h1
    text-align: center
    background-color: $bg-shade
    position: absolute
    width: 100%
    left: 0
    top: calc(50% - 5rem)


  //styles for control elements

  .controls-close
    position: absolute
    top: 0
    right: 0