/*******************************/
/***       PAGE: MENU       ***/
/*******************************/

.menu

  & *
    transition: opacity 1s, width 1s, left 1s
  @media only screen and (max-width: $bp-sm)
    display: flex
    flex-direction: column

  /***    STYLES FOR IMAGES    ***/

  .salads--img
    background:
      color: black
      image: url("/img/photos/salads.jpg")
      size: cover
    left: 0
    @media only screen and (max-width: $bp-sm)
      background-color: $accent-color
      background-size: auto 100vh
      background-repeat: no-repeat
      background-attachment: fixed


  .main-courses--img
    background:
      color: black
      image: url("/img/photos/main-courses.jpg")
      size: cover
      position: center
    left: calc(100% / 3)
    @media only screen and (max-width: $bp-sm)
      background-color: $accent-color
      background-size: auto 100vh
      background-repeat: no-repeat
      background-attachment: fixed

  .desserts--img
    background:
      color: black
      image: url("/img/photos/desserts.jpg")
      size: cover
      position: right -1px top
    left: calc(100% / 3 * 2)
    @media only screen and (max-width: $bp-sm)
      background-color: $accent-color
      background-size: auto 100vh
      background-repeat: no-repeat
      background-attachment: fixed

  .pointer
    cursor: pointer


  /***    STYLES FOR TEXT CONTAINERS    ***/

  #salads-copy, #main-courses-copy, #desserts-copy, #salads-img, #main-courses-img, #desserts-img
    position: absolute
    height: 100%
    top: 0
    @media only screen and (max-width: $bp-sm)
      position: relative
      left: 0

  #salads-copy, #main-courses-copy
    left: calc(100% / 3 * 2)
    @media only screen and (max-width: $bp-sm)
      left: 0

  #desserts-copy
    left: 0
    @media only screen and (max-width: $bp-sm)
      left: 0

  /***    STYLES FOR HEADING    ***/

  h1
    text-align: center
    background-color: $bg-shade
    position: absolute
    width: 100%
    @media screen and (max-height: $bp-font-min)
      padding: 1.75rem 0
    left: 0
    top: calc(50% - 5rem)

  /***    STYLES FOR CONTROL ELEMENTS    ***/

  .controls-close
    position: absolute
    top: 0
    right: 0