/*******************************/
/***    PAGE: RESERVATION    ***/
/*******************************/

.reservation
  background:
    color: black
    image: url("/img/photos/reservation.jpg")
    size: cover
  @media only screen and (max-width: $bp-sm)
    background-image: none
    background-color: $accent-color
    h1
      margin-top: 2.75rem

  .book-form
    display: flex
    flex-direction: column

    .row
      display: flex
      flex-direction: row
      align-items: center
      label
        font-size: 1.35rem

    .row:first-of-type
      margin-bottom: 1rem
      justify-content: space-around



    /***    INDIVIDUAL STYLES    ***/

    #date
      width: 40%
      margin-right: 1rem
      @media screen and (max-height: $bp-font-min)
        width: 50%
      @media only screen and (max-width: $bp-sm)
        width: 50%

    #time
      width: 30%


    #name, #email, #phone
      width: 65%

    #guests + .ui-selectmenu-button.ui-button
      width: 40%
      @media screen and (max-height: $bp-font-min)
        width: 65%




    #time + .ui-selectmenu-button.ui-button
      width: 37%
      @media screen and (max-height: $bp-font-min)
        width: 45%
      @media only screen and (max-width: $bp-sm)
        width: 45%





