/*******************************/
/***     PAGE: WINE LIST     ***/
/*******************************/

.wine-list
  background:
    color: black
    image: url("/img/photos/wine_cellar-2.jpg")
    size: cover
  @media only screen and (max-width: $bp-sm)
    background-color: $accent-color
    background-size: auto 100vh
    background-repeat: no-repeat
    background-attachment: fixed

    .block:first-of-type
      margin-top: 100vh

  & section:last-of-type
    margin-bottom: 4rem

  & > article:last-child
    text-align: center

    h1, h3, .menu-item
      text-align: left

    h3
      //margin-top: 9.1rem
      @media only screen and (max-width: $bp-sm)
        margin-top: 2.5rem


    .menu-item:last-of-type
      margin-bottom: 3.125rem

    section
      @media only screen and (max-width: $bp-sm)
        padding-bottom: 3rem
