.wine-list
  background:
    color: black
    image: url("../img/photos/wine_cellar-2.jpg")
    size: cover

  & > article:last-child
    text-align: center

    h2, .menu-item
      text-align: left

    h2
      margin-top: 9.1rem

    .menu-item:last-of-type
      margin-bottom: 3.125rem
